<p>
  <label for="">Introduzca un pensamiento:</label>
  <input type="text" [(ngModel)]="pensamientoActual">
</p>
<p>
  <button (click)="addPensamiento()">Añadir pensamiento</button>
</p>

<div *ngIf="aPensamientos.length > 0; then hayIdeas else noHayIdeas"></div>

<ng-template #hayIdeas>
  <h2>
    Lista de pensamientos que he tenido:
  </h2>
  <ul>
    <li *ngFor="let pensamiento of aPensamientos">{{pensamiento}}</li>
  </ul>
</ng-template>

<ng-template #noHayIdeas>
  <h3>
    No he tenido ningun pensamiento aun...
  </h3>
</ng-template>
